# Playbook to cleanup DevStack environment
# Runs on the Nodepool node
- hosts: all
  become: true
  become_user: stack # Cleanup scripts are run as stack user
  environment:
    HOME: "/home/stack"
  tasks:
    - name: Run DevStack unstack.sh to stop services [5, 6]
      ansible.builtin.command:
        cmd:./unstack.sh
        chdir: "{{ devstack_base_dir }}/devstack"
      ignore_errors: true # Continue even if some unstack steps fail

    # For a more thorough cleanup, you could add clean.sh, but unstack.sh is usually sufficient
    # for job-based teardown. clean.sh removes data and configs. [6]
    # - name: Run DevStack clean.sh for full cleanup
    #   ansible.builtin.command:
    #     cmd:./clean.sh
    #     chdir: "{{ devstack_base_dir }}/devstack"
    #   ignore_errors: true
