# roles/gerrit_zuul_project_config/templates/zuul_config_repo/zuul.d/jobs.yaml.j2
# Defines Zuul jobs

- job:
    name: base
    description: "Base job for common setup and teardown."
    # Playbooks are relative to the 'playbooks' dir in this zuul-config repo
    pre-run: playbooks/base/pre_copy_git_repos.yaml
    post-run: playbooks/base/post_collect_logs.yaml

- job:
    name: ironic-tempest-all-plugin-tests
    parent: base
    description: >
      Runs all ironic-tempest-plugin tests against a local DevStack.
    nodeset:
      nodes:
        - name: controller
          label: cloud-fedora-latest
    required-projects:
      - name: opendev.org/openstack/devstack
      - name: opendev.org/openstack/tempest
      - name: >
          {{ gerrit_connection_name }}/
          {{ ironic_tempest_plugin_project_name }}
    vars:
      devstack_base_dir: "/opt/stack"
      tempest_test_regex: >
        {{ ironic_tempest_plugin_all_tests_regex }}
      ansible_user: zuul
      devstack_admin_password: "{{ devstack_admin_password }}"
      devstack_default_branch: "{{ devstack_default_branch }}"
      zuul_project_short_name_itp: >
        {{ ironic_tempest_plugin_project_name }}
      zuul_project_canonical_name_itp: >
        {{ gerrit_connection_name }}/
        {{ ironic_tempest_plugin_project_name }}
    pre-run:
      - playbooks/ironic_tempest_plugin_tests/
          setup_devstack_tempest_ironic_plugin.yaml
    run: >
      playbooks/ironic_tempest_plugin_tests/
      run_ironic_tempest_plugin_all_tests.yaml
    post-run:
      - playbooks/ironic_tempest_plugin_tests/cleanup_devstack.yaml

- job:
    name: ironic-unit-tests
    parent: base
    description: "Runs ironic unit tests (placeholder)."
    nodeset:
      nodes:
        - name: controller
          label: cloud-fedora-latest
    required-projects:
      - name: >
          {{ gerrit_connection_name }}/{{ ironic_project_name }}
    vars:
      ansible_user: zuul
      synced_project_path: >
        {{ ansible_user_dir }}/src/{{
          zuul.projects[
            gerrit_connection_name + '/' + ironic_project_name
          ].canonical_name }}
      ironic_unit_tests_tox_env: "{{ ironic_unit_tests_tox_env }}"
    run: playbooks/ironic_unit_tests/run_ironic_unit_tests.yaml
