# roles/gerrit_zuul_project_config/templates/zuul_config_repo/zuul.d/projects.yaml.j2
# Defines which jobs run for which projects in which pipelines

- project:
    name: "{{ gerrit_connection_name }}/{{ ironic_tempest_plugin_project_name }}"
    check:
      jobs:
        - ironic-tempest-all-plugin-tests
    gate:
      jobs:
        - ironic-tempest-all-plugin-tests

- project:
    name: "{{ gerrit_connection_name }}/{{ ironic_project_name }}" # Example for extensibility
    check:
      jobs:
        - ironic-unit-tests # Placeholder job
    gate:
      jobs:
        - ironic-unit-tests

# It's good practice for zuul-config to be self-testing, even if just a noop.
- project:
    name: "{{ gerrit_connection_name }}/{{ zuul_config_project_name }}"
    check:
      jobs:
        # - my-zuul-config-lint-job # Define a simple lint or noop job
        - # (empty, or add a job like 'noop' if defined)
    gate:
      jobs:
        - # (empty)
