# roles/gerrit_zuul_project_config/templates/zuul_config_repo/playbooks/base/post_collect_logs.yaml.j2
# Basic log collection. For production, use zuul-jobs log roles.

- hosts: all  # Runs on Nodepool node(s)
  vars:
    devstack_log_path_on_node: >
      {{ devstack_base_dir | default('/opt/stack') }}/logs
    tempest_log_path_on_node: >
      {{ devstack_base_dir | default('/opt/stack') }}/tempest
  tasks:
    - name: Ensure local artifacts dir exists on executor for this node
      delegate_to: localhost
      become: false
      ansible.builtin.file:
        path: >
          {{ zuul.executor.log_root }}/artifacts/{{ inventory_hostname }}
        state: directory
        mode: '0755'

    - name: Fetch DevStack stack.sh.log
      ansible.posix.synchronize:
        mode: pull
        src: "{{ devstack_log_path_on_node }}/stack.sh.log"
        dest: >
          {{ zuul.executor.log_root }}/artifacts/{{ inventory_hostname }}/
          stack.sh.log
        verify_host: true
      ignore_errors: true

    - name: Fetch Tempest tempest.log
      ansible.posix.synchronize:
        mode: pull
        src: "{{ tempest_log_path_on_node }}/tempest.log"
        dest: >
          {{ zuul.executor.log_root }}/artifacts/{{ inventory_hostname }}/
          tempest.log
        verify_host: true
      ignore_errors: true

    - name: Fetch Tempest tempest.conf
      ansible.posix.synchronize:
        mode: pull
        src: "{{ tempest_log_path_on_node }}/etc/tempest.conf"
        dest: >
          {{ zuul.executor.log_root }}/artifacts/{{ inventory_hostname }}/
          tempest.conf
        verify_host: true
      ignore_errors: true

- hosts: localhost  # Runs on Zuul executor
  become: false
  tasks:
    - name: Generate a basic zuul-manifest.json
      ansible.builtin.copy:
        content: |
          {
            "name": "Job Artifacts for {{ zuul.build }}",
            "version": "1.1",
            "tree": [
              {
                "name": "artifacts",
                "path": "artifacts",
                "type": "directory",
                "children":
              }
            ]
          }
        # A full generate-zuul-manifest role would build children dynamically
        dest: "{{ zuul.executor.log_root }}/zuul-manifest.json"
        mode: '0644'
