# roles/gerrit_zuul_project_config/templates/zuul_config_repo/playbooks/base/pre_copy_git_repos.yaml.j2
# This playbook runs on Nodepool nodes to prepare the workspace.
# It copies the required-projects git repos from the Zuul executor.

- hosts: all
  tasks:
    - name: Ensure source directory exists on Nodepool node
      ansible.builtin.file:
        path: "{{ ansible_user_dir }}/src"
        state: directory
        mode: '0755'

    - name: Copy Zuul project sources from executor to Nodepool node
      ansible.builtin.synchronize:
        src: >
          {{ zuul.executor.work_root }}/{{ item.value.src_dir }}
        dest: >
          {{ ansible_user_dir }}/src/{{
            item.value.canonical_name | ansible.builtin.dirname }}
        mode: pull
      loop: "{{ zuul.projects | dict2items }}"
      when: item.value.src_dir is defined
